.form {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__input {
    width: 100%;
    margin: 0 15px;
    &--short {
      width: 200px;
    }
    &--mid {
      width: 500px;
    }
  }

  &__buttons {
    width: 100%;
    text-align: right;
  }
}

.product {
  width: 150px;
  display: inline-block;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: white;
  margin-right: 10px;
  &__name {
  }

  &__image {
    max-width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }

  &--active,
  &:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow);
  }
}

.btn {
  margin: 10px auto;
}

@media only screen and (min-width: 768px) {
  .form {
    padding: 50px;
    width: 70vw;
    margin: 120px auto;
  }

  .btn {
    width: 400px;
  }
}
