<div class="campaign" [routerLink]="['campaign', campaign.id]">
  <div
    [ngClass]="
      campaign.status === true ? 'chips chips--green' : 'chips chips--red'
    "
  >
    {{ campaign.status ? "Aktywna" : "Nieaktywna" }}
  </div>

  <div class="campaign__name campaign__name--title">{{ campaign.name }}</div>
  <div class="campaign__name">
    {{ campaign.product.name }}
  </div>
  <div class="campaign__element">Budżet: {{ campaign.fund }} zł</div>
  <div class="campaign__element">Miasto: {{ campaign.town.value }}</div>
  <div class="campaign__element">Zasięg: {{ campaign.radius }} km</div>

  <div class="campaign__keywords">
    <span *ngFor="let keyword of campaign.keywords" class="chips chips--blue">
      {{ keyword.value }}</span
    >
  </div>
</div>
