/* You can add global styles to this file, and also import other style files */
@import "./assets/helper.scss";

* {
  outline: none;
  :focus {
    outline: none;
  }

  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  color: var(--text);
  background-color: var(--bcg);
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
